<div class="flow">
  <div class="form-group">
    <label for="<%= base %>_smarts">Insira o Smarts que deseja procurar na Base 2:</label>
    <input type="text" id="<%= base %>_smarts" name="<%= base %>[smarts]" placeholder="Exemplo: [CX3](=O)[OX2H1] (Ácido carboxílico)" class="form-control">
  </div>
  <p>
    Alguns padrões pré-definidos: <a href="javascript:void(0);" onclick="add_smarts(this, '<%= base %>_smarts')" class="add-smarts" data-smarts-type="carboxilico">Ácido carboxílico</a> |
    <a href="javascript:void(0);" onclick="add_smarts(this, '<%= base %>_smarts')" class="add-smarts" data-smarts-type="amina">Amina</a> |
    <a href="javascript:void(0);" onclick="add_smarts(this, '<%= base %>_smarts')" class="add-smarts" data-smarts-type="amida">Amida</a>
  </p>
</div>
<div class="row">

  <table class="table" id="filters-table">
    <thead>
      <tr>
        <th>Min</th>
        <th>Property</th>
        <th>Máx</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <input type="text" name="<%= base %>[molecular_mass_start]" id="<%= base %>[molecular_mass_start]">
          </td>
        <td>Mass</td>
        <td><input type="text" name="<%= base %>[molecular_mass_end]" id="<%= base %>[molecular_mass_end]"></td>
      </tr>
      <tr>
        <td>
          <input type="text" name="<%= base %>[atom_number_start]" id="<%= base %>[atom_number_start]">
          </td>
        <td># Atoms</td>
        <td><input type="text" name="<%= base %>[atom_number_end]" id="<%= base %>[atom_number_end]"></td>
      </tr>
      <tr>
        <td>
          <input type="text" name="<%= base %>[hydrogen_bond_donor_start]" id="<%= base %>[hydrogen_bond_donor_start]">
          </td>
        <td>HBD</td>
        <td><input type="text" name="<%= base %>[hydrogen_bond_donor_end]" id="<%= base %>[hydrogen_bond_donor_end]"></td>
      </tr>
      <tr>
        <td>
          <input type="text" name="<%= base %>[hydrogen_bond_acceptor_start]" id="<%= base %>[hydrogen_bond_acceptor_start]">
          </td>
        <td>HBA</td>
        <td><input type="text" name="<%= base %>[hydrogen_bond_acceptor_end]" id="<%= base %>[hydrogen_bond_acceptor_end]"></td>
      </tr>
      <tr>
        <td>
          <input type="text" name="<%= base %>[ring_number_start]" id="<%= base %>[ring_number_start]">
          </td>
        <td># Rings</td>
        <td><input type="text" name="<%= base %>[ring_number_end]" id="<%= base %>[ring_number_end]"></td>
      </tr>
      <tr>
        <td>
          <input type="text" name="<%= base %>[log_p_start]" id="<%= base %>[log_p_start]">
          </td>
        <td>LogP</td>
        <td><input type="text" name="<%= base %>[log_p_end]" id="<%= base %>[log_p_end]"></td>
      </tr>
    </tbody>
  </table>
</div>
