<div class="col-md-1">
  <div class="form-group">
    <label for="<%= base %>[molecular_mass_start]">Massa Min: </label>
    <input type="text" name="<%= base %>[molecular_mass_start]" id="<%= base %>[molecular_mass_start]" class="form-control">
  </div>
  <div class="form-group">
    <label for="<%= base %>[molecular_mass_end]">Máx: </label>
    <input type="text" name="<%= base %>[molecular_mass_end]" id="<%= base %>[molecular_mass_end]" class="form-control">
  </div>
</div>
<div class="col-md-1">
  <div class="form-group">
    <label for="<%= base %>[atom_number_start]">Átomos Min: </label>
    <input type="text" name="<%= base %>[atom_number_start]" id="<%= base %>[atom_number_start]" class="form-control">
  </div>
  <div class="form-group">
    <label for="<%= base %>[atom_number_end]">Máx: </label>
    <input type="text" name="<%= base %>[atom_number_end]" id="<%= base %>[atom_number_end]" class="form-control">
  </div>
</div>
<div class="col-md-1">
  <div class="form-group">
    <label for="<%= base %>[hydrogen_bond_donor_start]">HBDs Min: </label>
    <input type="text" name="<%= base %>[hydrogen_bond_donor_start]" id="<%= base %>[hydrogen_bond_donor_start]" class="form-control">
  </div>
  <div class="form-group">
    <label for="<%= base %>[hydrogen_bond_donor_end]">Máx: </label>
    <input type="text" name="<%= base %>[hydrogen_bond_donor_end]" id="<%= base %>[hydrogen_bond_donor_end]" class="form-control">
  </div>
</div>
<div class="col-md-1">
  <div class="form-group">
    <label for="<%= base %>[hydrogen_bond_acceptor_start]">HBAs Min: </label>
    <input type="text" name="<%= base %>[hydrogen_bond_acceptor_start]" id="<%= base %>[hydrogen_bond_acceptor_start]" class="form-control">
  </div>
  <div class="form-group">
    <label for="<%= base %>[hydrogen_bond_acceptor_end]">Máx: </label>
    <input type="text" name="<%= base %>[hydrogen_bond_acceptor_end]" id="<%= base %>[hydrogen_bond_acceptor_end]" class="form-control">
  </div>
</div>
<div class="col-md-1">
  <div class="form-group">
    <label for="<%= base %>[ring_number_start]">Anéis Min: </label>
    <input type="text" name="<%= base %>[ring_number_start]" id="<%= base %>[ring_number_start]" class="form-control">
  </div>
  <div class="form-group">
    <label for="<%= base %>[ring_number_end]">Máx: </label>
    <input type="text" name="<%= base %>[ring_number_end]" id="<%= base %>[ring_number_end]" class="form-control">
  </div>
</div>
<div class="col-md-1">
  <div class="form-group">
    <label for="<%= base %>[log_p_start]">LogP Min: </label>
    <input type="text" name="<%= base %>[log_p_start]" id="<%= base %>[log_p_start]" class="form-control">
  </div>
  <div class="form-group">
    <label for="<%= base %>[log_p_end]">Máx: </label>
    <input type="text" name="<%= base %>[log_p_end]" id="<%= base %>[log_p_end]" class="form-control">
  </div>
</div>
