<%= render 'search_form' %>
<hr>
<h3>Resultado na Base 1 <%= @smarts_b1 %></h3>
<p><%= @molecules_b1.count %> encontrados</p>

<h3>Resultado na Base 2 <%= @smarts_b2 %></h3>
<p><%= @molecules_b2.count %> encontrados</p>
